div#content {
    width: 1026px;
    margin: auto;
}
div#container1 {
    height: 768px; 
    width: 974px;
    float:right;
}
div.q-container {
    margin-top: 50px;
    width: 51px;
    float: left;
}
div.p-container {
    float: right;
}
div.qbuttons {
    width:50px;
    height:165px;
    text-align:center;
    border:1px solid black;
    line-height:165px;
    margin-top: -1px;
}
span.sector-region {
    margin-top: 20px;
    font-size: 14px;
}